.place__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #fff;
    transition: opacity .2s linear;
    opacity: 1;
}

.place__link:hover {
opacity: .6;
}